html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  
  background-image: url(Assets/singaporeCity4.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  }

#bus_logo2 {
  height: 150px;
  width: 700px;
  transition: transform 0.3s;
}

#bus_logo2:hover {
  transform: scale(1.1);
}

#buslogo {
  height: 60px;
  width: 260px;
}

#singaporelogo {
  height: 50px;
  width: 180px;
}

 a {
   margin-bottom: 10px;
 }

.card-body {
  background: hsl(0 0% 0% / 0.1);
  backdrop-filter: blur(0.4rem);
}

.navbar {
  background: hsl(0 0% 0% / 0.1);
  backdrop-filter: blur(3rem);
}

footer {
  margin-top: 40px;
}
